body{
    background-color: crimson!important;
    font-family: monospace;
    color: rgb(247, 217, 51);
    overflow: visible;
    min-height: 100vh!important;

}


.notebook{
    background-color: lightcoral;
}

@media (min-width: 768px){
    .notebook{
        border-radius: 29px 29px 29px 29px;
        -moz-border-radius: 29px 29px 29px 29px;
        -webkit-border-radius: 29px 29px 29px 29px;
        
        
    }
    iframe{
        width: 400px!important;
        height: 800px;
    }
}


@media (max-width: 768px){
    footer{
        padding: 2rem ;
    }
}